
{% if site.data.sidebars.sidebar.entries[0] %}
  {% for item in site.data.sidebars.sidebar.entries %}
    {% if item.folders[0] %}
      <ul id="side-nav" class="nav flex-column">
        {% for entry in item.folders %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ entry.title }}</a>
            {% if entry.folderitems[0] %}
              <ul id="sub-nav" class="list-group">
                {% for subentry in entry.folderitems %}
                    <li class="list-group-item {% if subentry.url == page.url %}active{% endif %}">
                      <a class=" {% if subentry.subfolders[0] %}contains{% endif %}" href="{{subentry.url  | relative_url}}">{{subentry.title}}</a>
                      {% if subentry.subfolders[0] %}
                      <ul id="sub-sub-nav" class="list-group">
                        {% for subsubentry in subentry.subfolders %}
                        <li class="list-group-item {% if subsubentry.url == page.url %}active{% endif %}">
                          <a href="{{subsubentry.url  | relative_url}}">{{subsubentry.title}}</a>
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
          {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}
