<nav class="navbar navbar-light fixed-top navbar-expand-lg">
  <div class="container-fluid navbar-container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ "/assets/img/Intellective-Logo-docs.png" |
      relative_url }}" alt="Logo" class="d-inline-block align-top"
      loading="lazy" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li {% if page.sectionid=='docs' %} class="active nav-item" {% endif %}><a class="nav-link" href="{{ "/docs/home/" | relative_url }}">Unity Docs</a></li>
        <li {% if page.sectionid=='blog' %} class="active nav-item" {% endif %}><a class="nav-link" href="{{ site.posts.first.url | relative_url }}">API</a></li>
      </ul> -->
      <div class="d-block d-lg-none">
        {% include docs_nav.html %}
      </div>
      
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search documentation "
          aria-label="Search documentation"
        />
        <button class="btn btn-light my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
