---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "_bootstrap";
@import "_bootstrap-reboot";
@import "_bootstrap-grid";

// @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// $Montserrat: 'Montserrat', sans-serif;

// body {
//   font-family: $Montserrat !important;
// }

.navbar {
  height: 4em;
  font-size: 16px;
  background-color: #ffffff;
  // box-shadow: 0em 0.15em 2em rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #e3e8ee;
  &-brand {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    margin-right: 0;
    img {
      width: 100%;
      max-width: 150px;
      height: auto;
    }
  }
}

#side-nav,
#side-nav2 {
  // position: fixed;
  // width: 100%;

  li.open > a > span:after {
    content: "\25b4";
  }

  li > a > {
    span {
      float: right;
      font-size: 19px;
      font-weight: bolder;

      &:after {
        content: "\25be";
      }
    }
  }

  .nav-item {
    &.open {
      .nav-link {
        font-weight: bold;
      }
    }
    .nav-link {
      font-weight: 500;
      font-size: 15px;
      color: rgb(74, 74, 74);
      padding: 0.5rem 0.5rem;
    }
  }
  #sub-nav,
  #sub-sub-nav {
    .list-group-item {
      border: none;
      font-size: 14px;
      padding: 0.25rem 2rem 0.25rem 1.75rem;
      > a {
        color: rgb(74, 74, 74);
        text-decoration: none;
        display: block;
        &:hover {
          color: #df0027;
          display: block;
        }
      }
      &.active {
        background-color: #eee;
        border-color: #eee;
      }
    }
  }
}

.page-content {
  margin-top: 64px;
  height: calc(100vh - 64px);
  .wrapper {
    height: 100%;
    .row {
      height: 100%;
    }
  }

  .port {
    border-right: 1px solid #e3e8ee;
    padding: 10px;
  }
  .starboard {
    padding: 32px 48px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// h1 {
//   // font-size: 2em;
//   margin: 0.67em 0;
//   + p {
//     padding-top: 12px !important;
//     font-size: 22px;
//     line-height: 28px;
//   }
// }

form > input[type="search"] {
  min-width: 600px;
  border: 1px solid #e3e8ee;
}

div#toc ul li {
  margin: 8px 0px 8px 22px;
  font-size: 90%;
  list-style: square;
}
div#toc ul {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  max-width: 300px;
  color: gray;
}

div#toc ul li ul {
  padding-left: 8px;
}

div#toc ul li ul li::before {
  content: "–  ";
}

div#toc > ul::before {
  content: "Table of Contents";
  font-weight: 500;
  color: #555;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
